@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

/* Global styles */
.ctm-btn {
  cursor: pointer;
  align-items: center;
  justify-content: center;
  display: flex;
  border: 1px solid;
  padding: 0.5rem;
  border-radius: 0.75rem;
  font-weight: 500;
  min-width: 80px;
}
.ctm-btn-1 {
  color: rgba(63, 140, 255, 1);
  border-color: rgba(63, 140, 255, 1);
  background-color: transparent;
}

.ctm-btn-2 {
  color: red;
  border-color: red;
  background-color: transparent;
}

.ctm-btn-3,
.ctm-btn-1:hover {
  color: white;
  border-color: rgba(63, 140, 255, 1);
  background-color: rgba(63, 140, 255, 1);
}

.ctm-btn-4 {
  color: rgb(108, 93, 211);
  border-color: rgb(108, 93, 211);
  background-color: transparent;
}

.ctm-btn-5,
.ctm-btn-2:hover {
  color: white;
  border-color: red;
  background-color: red;
}

.ctm-btn-6,
.ctm-btn-4:hover {
  color: white;
  border-color: rgb(108, 93, 211);
  background-color: rgb(108, 93, 211);
}

/* Custom Aspect Ratio */
.ctm-aspect-ratio-1 {
  aspect-ratio: 2/1;
}

/* Custom background image */
.ctm-bg-image-1 {
  background-image: url("https://brandaffy.s3.ap-southeast-2.amazonaws.com/website+assets/stockphoto-asset-1.jpg");
}

.ctm-bg-image-2 {
  background-image: url("https://brandaffy.s3.ap-southeast-2.amazonaws.com/website+assets/stockphoto-asset-2.jpg");
}

/* Custom background color */
.ctm-bg-color-1 {
  background-color: rgba(229, 231, 235, 1);
}

.ctm-bg-color-2 {
  background-color: #6c5dd3;
}

.ctm-bg-color-3 {
  background-color: #0fcc45;
}

.ctm-bg-color-4 {
  background-color: red;
}

.ctm-bg-color-5 {
  background-color: #fff2cc;
}

.ctm-bg-color-6 {
  background-color: #d9ead3;
}

.ctm-bg-color-7 {
  background-color: #f4f1fe;
}

.ctm-bg-color-9 {
  background-color: rgba(244, 241, 254, 1);
}

.ctm-bg-color-10 {
  background-color: #f4cccc;
}

.ctm-bg-color-11 {
  background-color: rgba(95, 88, 199, 1);
}

.ctm-bg-color-12 {
  background-color: rgba(245, 245, 245, 1);
}

.ctm-hvr-bg-color-1:hover {
  background-color: rgba(229, 231, 235, 1);
}

/* Custom Background */
.ctm-bg-1 {
  background: linear-gradient(135deg, #ffb7f5, #6c5dd3);
}

/* Custom border color */
.ctm-border-color-1 {
  border-color: #e6e8f0;
}

.ctm-border-color-2 {
  border-color: rgba(216, 218, 229, 1);
}

.ctm-border-color-3 {
  border-color: rgba(229, 231, 235, 0.5);
}

/* Custom color */
.ctm-font-color-1 {
  color: #8f95b2;
}

.ctm-font-color-2 {
  color: rgb(79, 70, 229);
}

.ctm-font-color-3 {
  color: #01a6ea;
}

.ctm-font-color-4 {
  color: #ffb1cb;
}

.ctm-font-color-5 {
  color: red;
}

.ctm-font-color-6 {
  color: rgba(107, 114, 128, 1);
}

/* Custom min-width */
.ctm-min-width-0 {
  min-width: 100px;
}

.ctm-min-width-1 {
  min-width: 200px;
}

.ctm-min-width-15 {
  min-width: 250px;
}

.ctm-min-width-2 {
  min-width: 350px;
}

.ctm-min-width-3 {
  min-width: 400px;
}

.ctm-min-width-4 {
  min-width: 450px;
}

.ctm-min-width-5 {
  min-width: 1000px;
}

/* Custom max-width */
.ctm-max-width-0 {
  max-width: 100px;
}

.ctm-max-width-1 {
  max-width: 200px;
}

.ctm-max-width-2 {
  max-width: 350px;
}

.ctm-max-width-3 {
  max-width: 400px;
}

.ctm-max-width-4 {
  max-width: 450px;
}

/* Custom min-width */
.ctm-min-height-1 {
  min-height: 500px;
}

/* Custom animations */

.ctm-animation-blink {
  animation: blink 1s linear infinite;
}

@keyframes blink {
  100% {
    transform: scale(2, 2);
    opacity: 0;
  }
}
